# Temporary working file
work-data/*

# Output data
data-output/*

# Output report
report-output/*/*.png
report-output/*/*.pdf

# OS X crap
.DS_Store

# Office crap
~$*
wid-world.stpr

# Stata files that are too large
data-input/un-sna/*.dta
data-input/france-data/france-ggp2017.dta
