# Temporary working file
work-data/*

# Output data
data-output/*

# Output report
report-output/*/*.png
report-output/*/*.pdf

# OS X crap
.DS_Store

# Office crap
~$*
wid-world.stpr
*.dta
data-input/oecd-data/national-accounts/SNA_TABLE14A_06032020123612266.csv
data-input/oecd-data/national-accounts/SNA_TABLE14A_ARCHIVE_10032020180957562.csv
